target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
*.iml
.idea/compiler.xml
.idea/uiDesigner.xml
.idea/workspace.xml
.idea/libraries/
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/modules.xml
.idea/checkstyle-idea.xml
.idea/aws.xml
.idea/vcs.xml
.idea/codeStyles/codeStyleConfig.xml
.DS_Store
tmp
venv/
